

#override {
	font-family: 'Roboto', sans-serif;
	background-color:#FCD5CE;

}

#logo {
	padding: 1%;
	font-family: 'Permanent Marker', cursive;
	color: #292929;

}

.welcome-message {
	background-color: #FCD5CE;
	border-bottom: 6px dotted #F8EDEB;
	border-bottom-width: 60%;
}

.section-title {
	font-family: 'Permanent Marker', cursive;
}

.container-fluid {
	height: 100vh;
	width: 100vw;
	
}

.nav {
	justify-content: center;
	background-color: #292929;
	height: 100%;
}

.nav-pills {
	background-color: #292929;
}

.nav-link {
	color:#FFB5A7;
	margin-left: 7%;
	margin-right: 2%;

}

.nav-link:hover {
	background-color:#F8EDEB;
	border: 1px solid #F8EDEB;
	color:#292929;

}

.blog-post-total {
	background-color: #F8EDEB;
	max-width:60%;
	margin:0 auto;
	padding: 5%;
	margin-top:2%;
}


#active {
  	background-color: #FFB5A7;
  	color: #292929;

  }

#active:hover {
	border:1px solid #FFB5A7;

}
.right-column-body {
	margin-left:auto;

	width: 100%;
}

.social-icons {
	text-align: center;
	
}

.baby-div {
	height: 100vh;
	background-color: #FCD5CE; 

	

}

.about-section {
	color: #292929;
	background-color: #FCD5CE;
	font-family: 'Roboto', sans-serif;
	height: 90%;

}

.about-image {
	text-align: center;
	
}

.testing {

	margin-right: 10%;
	padding: 2%;
}

.fa {
	color: #292929;
	text-decoration: none;

}

.fa:hover {
	color:#F8EDEB;
	transform: scale(1.5);
}

.icons {
	list-style-type: none;
	display: inline;
	padding: 2%;
	font-size: 20px;
}



.footer {

	background-color: transparent;

}

#profileImage {
	border-radius: 50%;

}


/*writingPage style */

.blog-posts {
	margin-top: 2%;
	
}

.blog-posts-section {
	margin-top: 5%;
}

.card {
	box-shadow: 1px 1px 1px #FFB5A7;
}
.card-body {
	background-color:#FFB5A7;
	opacity: 90%;

	
}

.card-title {
	font-family: 'Permanent Marker', cursive;
	font-weight: 200px;
}

.card-text {
	font-family: 'Roboto', sans-serif;
}

.btn {
	background-color: #292929;
	color:#F8EDEB;

}

.btn:hover {
	background-color:#F8EDEB;
	color:#292929;
	font-style: bold;
}



.emphasize-text {
	font-family: 'Permanent Marker', cursive;
}

.blog-title {
	text-align: center;
}



@media (min-width: 374px) and (max-width: 575.98px) {
	.nav {
		height: 10%;

	}

	#logo {
		display: none;
	}

	.fixed-bottom {
		top: 0;
	}

	body {
	padding-top: 20%;
}
	.welcome-message {
		border-bottom: 0px;
	}

	.blog-post-total {
		max-width: 100%;
		margin-bottom: 10%;
	}

	.right-column-body {
		margin-top:3%;

	}

	.testing {
		margin-right: 0!important;
	}
	.about-text {
		margin-top: 10%;
		text-align: justify;
	}

	.section-title {
		text-align: center;
	}

	ul {
		padding: 0;
	}

